body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-header h1 {
  margin-left: 10px;
}

.profile-picture-small {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-picture-large {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h2 {
  font-size: 2.5rem;
  margin: 0;
}

main p {
  font-size: 1.25rem;
  color: #aaa;
}

.toggle-switch {
  position: relative;
  width: 45px;
  height: 45px;
  background: #d0cece;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 7px;
  transition: background .5s;
}

.toggle-knob {
  width: 35px;
  height: 35px;
  background-image: url('./assets/icons/on.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  /* transition: transform 0.3s; */
}

.toggle-knob.dark {
  background-image: url('./assets/icons/off.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.dark-mode .toggle-switch {
  background: #434242;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFEFEF;
  color: #1A1A1A;
  padding: 20px;
  margin-top: auto;
}

footer p {
  margin: 0;
}

.dark-mode footer {
  background-color: #1A1A1A;
  color: #EFEFEF;
}

.social-icons a {
  color: #aaa;
  margin: 0 10px;
  font-size: 1.25rem;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.light-mode main p,
.light-mode .social-icons a {
  color: #555;
}

button.scroll-to-top {
  display: inline-block;
  background-color: #fff;
  color: black;
  padding: 12px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.light-mode button.scroll-to-top {
  background-color: #000;
  color: #fff;
}

button.scroll-to-top:hover {
  opacity: 1;
}
